body {
    background-color: #f5f6f6;
    
}

.name {
    top: 90px; 
    left: 356px; 
    width: 480px; 
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    font-family: Helvetica;    
    font-weight: bold;
    color:black;
}

.q1 {
    top: 27px;
    left: 150px;
    width: 90px;
    height: 90px;
    position: absolute;
    text-decoration: none;
    border-radius:100px;
     background-color:black;
    
    
}


.qam {
    z-index:1;
    top: 43px;
    left: 175px;
    font-size: 50px;
    font-family: ‘Arial’, Gadget, sans-serif;
    color:white;
    text-align:center;
    position: absolute;
    text-decoration: none;
}

@font-face {
   font-family: Driod; 
   src: url('DriodSerif.ttf');
} 

.home {
    top: 150px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}


.home
{
  opacity:1;
}

.home:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}





.contact {
    top: 190px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}




.contact
{
  opacity:1;
}

.contact:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}


.td {
    top: 230px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}



.td
{
  opacity:1;
}

.td:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}



.adv {
    top: 270px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}




.adv
{
  opacity:1;
}

.adv:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}


.brand {
    top: 310px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}



.brand
{
  opacity:1;
}

.brand:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}



.book {
    top: 350px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}



.book
{
  opacity:1;
}

.book:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}



.edit {
    top: 390px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}




.edit
{
  opacity:1;
}

.edit:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}


.info {
    top: 430px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}




.info
{
  opacity:1;
}

.info:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}



.film {
    top: 470px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}




.film
{
  opacity:1;
}

.film:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}


.photo{
    top: 510px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}



.photo
{
  opacity:1;
}

.photo:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}





.art {
    top: 550px;
    left: 158px;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color:#686868;
    text-align:center;
    position: absolute;
    text-decoration: none;
}


.art
{
  opacity:1;
}

.art:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}


.selfie{
    max-width:240px; /* you can use % */
    height: auto;
    left: 357px;
    position:absolute;
    top:140;
    transition: all 1s ease-in-out
}

.selfie:hover { transform: scale(1.5); }



img {
    max-width:100%;
}

.name2 {
    top: 422px; 
    left: 356px; 
    width: 480px; 
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;    
    font-weight: bold;
    color:black;
}

.cv {
  
    top: 448px; 
    left: 356px; 
    width: 158px; 
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    font-family: Helvetica;    
    color:black;
    line-height: 150%;
}

.con{
    top: 520px; 
    left: 356px; 
    width: 480px; 
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;    
    font-weight: bold;
    color:black;   
    
}


.fb {
    position:absolute;
    top:600;
    left: 350px; 
    height:20px;
}

.fb:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}




.twit {
    position:absolute;
    top:600;
    left: 380px; 
    height:20px;
}

.twit:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}


.insta {
    position:absolute;
    top:600;
    left: 410px; 
    height:20px;
}

.insta:hover
{
  opacity:0;
  transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}









.contact2{
    
    top: 545px; 
    left: 356px; 
    width: 158px; 
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    font-family: Helvetica;    
    color:black;
    line-height: 150%;
}

.edu {
    top: 140px; 
    left: 628px; 
    width: 480px; 
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;    
    font-weight: bold;
    color:black;
}
  
.parsons {
    top: 160px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;    
    color:black;
        line-height: 150%;
}
  
.parsons2 {
    top: 195px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;    
    color:black;
        line-height: 150%;
}
  
.parsons3 {
    top: 212px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;    
    color:black;
        line-height: 150%;
}
  
.parsons4 {
    top: 248px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;
}
  
.add {
    top: 280px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;
}

.add2 {
    top: 315px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;
  
}


.add3 {
    top: 332px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;
  
}

.add4 {
    top: 350px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;
  
}

.employ{
    top: 400px; 
    left: 628px; 
    width: 480px; 
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;    
    font-weight: bold;
    color:black;
  
}

.employ2 {
    top: 425px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;  
}


.employ3 {
    top: 460px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;  
}




.employ4 {
    top: 478px; 
    left: 628px; 
    width: 280px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;  
}


.danis {
    top: 530px; 
    left: 628px; 
    width: 245px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;  
}

.danis1 {
    top: 565px; 
    left: 628px; 
    width: 245px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;  
}

.danis2 {
    top: 582px; 
    left: 628px; 
    width: 245px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;  
}


.awards{
    top: 630px; 
    left: 628px; 
    width: 480px; 
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;    
    font-weight: bold;
    color:black;
  
}


.award1{
    top: 650px; 
    left: 628px; 
    width: 245px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;  
}

.award2{
    top: 685px; 
    left: 628px; 
    width: 245px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;  
}



.skills{
    top: 760px; 
    left: 628px; 
    width: 480px; 
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;    
    font-weight: bold;
    color:black;
  
}

.skill1{
    top: 780px; 
    left: 628px; 
    width: 245px; 
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica;
    color:black;
    line-height: 150%;  
}